<div class="dashboard-container">
  <app-header 
    [currentUser]="currentUser$ | async"
    (toggleSidenav)="onToggleSidenav()"
    (logout)="onLogout()">
  </app-header>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #sidenav 
      [opened]="sidenavOpened"
      [mode]="'side'"
      class="sidenav">
      <app-sidebar [currentUser]="currentUser$ | async"></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>